@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <title></title>
    <link href="https://kendo.cdn.telerik.com/2023.1.117/styles/kendo.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.1.117/js/kendo.all.min.js"></script>
    <script src="https://unpkg.com/jszip/dist/jszip.min.js"></script>
    <script src="https://unpkg.com/pako/dist/pako_deflate.min.js"></script>
    @* <script src="js/kendo.all.min.js"></script> *@
</head>

<body>
    <div id="example">

        <div id="treelist"></div>



        <script>
            $(document).ready(function () {
                $("#treelist").kendoTreeList({
                    dataSource: {
                        transport: {
                            read: {
                                url: "/Admin/FetchAllTicket",
                                dataType: "json"
                            }
                        },
                        schema: {
                            model: {
                                id: "c_registerid",
                                parentId: "c_userid",
                                fields: {
                                    c_registerid: { type: "number" },
                                    c_userid: { field: "c_userid", type: "number" }, // Parent ID
                                    c_username: { type: "string" },
                                    c_tripname: { type: "string" },
                                    c_tripdate: { type: "string" },
                                    c_totalpeople: { type: "number" },
                                    c_totalprice: { type: "number" }
                                }
                            }
                        }
                    },
                    height: 540,
                    filterable: true,
                    sortable: true,
                    columns: [
                        { field: "c_username", title: "User name" },
                        { field: "c_registerid", title: "Register id", hidden: true },
                        { field: "c_tripname", title: "Trip name" },
                        { field: "c_tripdate", title: "Trip date" },
                        { field: "c_totalpeople", title: "Total people" },
                        { field: "c_totalprice", title: "Total amount" }
                    ],
                });


            });
        </script>
    </div>



</body>