<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.2.616/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.2.616/styles/kendo.default.min.css" />
    <link href="https://kendo.cdn.telerik.com/2023.1.117/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2023.1.117/styles/kendo.default.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.1.117/js/kendo.all.min.js"></script>
    <script src="/js/Registration.js"> </script>
    <title>Document</title>

    <script>
    $(document).ready(function () {
        $("#btn").kendoButton({
            themeColor: "secondary",
        });

        $("#btn").click(function(e){
            e.preventDefault();

            var isUsernamevalid = username();
            var isEmailvalid = email();
            var isPasswordvalid = password();
            if(!isUsernamevalid || !isEmailvalid || !isPasswordvalid){
                return false;
            }
            $("#regform").submit();
        });
    });

</script>
</head>

<body>
    <form asp-action="Register" method="post" asp-controller="RegLogin" id="regform" class="k-form k-form-vertical">
        <div class="container card shadow-lg p-3 mb-5 bg-white rounded" style="width: 40%;  margin-top: 90px;">
            <legend class="text-center">Register</legend>
            <div class="k-form-field mb-3">
                <label for="c_username" class="form-label">User Name :</label>
                <input type="text" name="c_username" id="c_username" class="k-textbox" onkeyup="username()"><br>
                <span id="username" class="text-danger small"></span>
            </div>
            <div class="k-form-field mb-3">
                <label for="c_email" class="form-label">Email :</label>
                <input type="text" name="c_email" id="c_email" class="k-textbox" onkeyup="email()"><br>
                <span id="emailid" class="text-danger small"></span>
            </div>
            <div class="k-form-field mb-3">
                <label for="c_password" class="form-label">Password :</label>
                <input type="password" name="c_password" id="c_password" class="k-textbox" onkeyup="password()"><br>
                <span id="password" class="text-danger small"></span>
            </div>
            <div class="k-form-field mb-3">
                <button type="submit" id="btn" class="mb-3" id="btn" style="width: 20%;">Register</button>
            </div>  
        </div>
    </form>
</body>

</html>